.top-home {
    position: fixed;
    text-align: left;
    font-size:20px;
    padding-left: 10px;
}
.top-login {
    text-align: right;
}
.top-login span {
    font-size:20px;
    padding: 10px 10px;
}
.login-table {
    text-align: center;
}
.login-table table {
    margin-top: 60px;
    margin-left: 40%;
}
.fieldError {
    color: #bd2130;
}
