.top-login {
    text-align: right;
}
.top-login span {
    font-size:20px;
    padding: 10px 10px;
}
.login-table {
    text-align: center;
}
.login-table table {
    margin-top: 60px;
    margin-left: 35%;
}