<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark" style="margin-bottom: 0px;">
        <div class="container px-4 px-lg-5">
            <a class="navbar-dano-brand" style="color: aquamarine" href="/">Danoth</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/members/sign-up" sec:authorize="isAnonymous()" >Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/members/login" sec:authorize="isAnonymous()">LogIn</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/logout" sec:authorize="isAuthenticated()">LogOut</a></li>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4"  sec:authorize="isAuthenticated()">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="myPageDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false" >MyPage</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item btn btn-outline-dark" th:href="@{'/members/' + ${#authentication.getName()}}" >개인 정보 수정</a></li>
                                <li><a class="dropdown-item btn btn-outline-dark" th:href="@{'/cart'}"><i class="bi-cart-fill me-1"></i>장바구니</a></li>
                                <li><a class="dropdown-item btn btn-outline-dark" href="#!">주문 및 배송 조회</a></li>
                                <li><a class="dropdown-item btn btn-outline-dark" href="#!">쿠폰</a></li>
                            </ul>
                        </li>
                    </ul>
                 </ul>
            </div>
        </div>
    </nav>

</div>
</html>
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Category</a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                            <li><a class="dropdown-item" href="#!">베스트</a></li>-->
<!--                            <li><a class="dropdown-item" href="#!">상의</a></li>-->
<!--                            <li><a class="dropdown-item" href="#!">하의</a></li>-->
<!--                            <li><a class="dropdown-item" href="#!">아우터</a></li>-->
<!--                            <li><a class="dropdown-item" href="#!">악세사리</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->