<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Danoth</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Category</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">베스트</a></li>
                            <li><a class="dropdown-item" href="#!">상의</a></li>
<!--                            <li><hr class="dropdown-divider" />하의</li>-->
                            <li><a class="dropdown-item" href="#!">하의</a></li>
                            <li><a class="dropdown-item" href="#!">아우터</a></li>
                            <li><a class="dropdown-item" href="#!">악세사리</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/members" sec:authorize="isAnonymous()" >Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/members/login" sec:authorize="isAnonymous()">LogIn</a></li>
                </ul>

                <!--장바구니-->
                <div sec:authorize="isAuthenticated()" >
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </nav>
</div>
</html>

<!--    <div th:replace="fragments/header::header"></   div>-->
<!--    <div class="top-home">-->
<!--        <span><a href="/">home</a></span>-->
<!--    </div>-->
<!--    <div class="top-login">-->
<!--        <span><a href="/members" sec:authorize="isAnonymous()">sign up</a></span>-->
<!--        <span><a href="/members/login" sec:authorize="isAnonymous()">sign in</a></span>-->
<!--        <span><a href="/members" sec:authorize="isAuthenticated()">setting</a></span>-->
<!--        <span><a href="/logout" sec:authorize="isAuthenticated()">logout</a></span>-->
<!--    </div>-->