<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
    <div layout:fragment="content">
        <div class="login-table">
            <div>sign in</div>
            <form method="post" action="/members/login" onsubmit="return loginCheck();">
                <table>
                    <tr>
                        <td>
                            <label>Email :</label>
                            <input type="text"  id="email" name="email" placeholder="이메일을 입력하세요" size="20" maxlength="30">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>PW :</label>
                            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" size="20" maxlength="30">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p th:if="${errorMessage}" class="fieldError" th:text="${errorMessage}"></p>
                            <input type="submit" value="로그인">
                            <input type="button" value=ㅏ"아이디/비밀번호 찾기">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>