<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <div class="login-table">
        <div>sign in</div>
        <table>
            <tr>
                <td>
                    <label>ID :</label>
                    <input type="text" placeholder="아이디를 입력하세요" size="20" maxlength="10">
                </td>
            </tr>
            <tr>
                <td>
                    <label>PW :</label>
                    <input type="password" placeholder="비밀번호를 입력하세요" size="20" maxlength="10">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email :</label>
                    <input type="text" placeholder="이메일을 입력하세요" size="20" maxlength="10">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Phone Number :</label>
                    <input type="text" placeholder="전화번호를 입력하세요" size="20" maxlength="10">
                </td>
            </tr>
            <tr>
                <td>
                    <label>sell</label>
                    <input type="checkbox" value="sell">
                    <label>buy</label>
                    <input type="checkbox" value="buy">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="등록">
                    <input type="button" value="취소">
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>