<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <div th:replace="fragments/head::head"></div>
    <div th:replace="fragments/script::script"></div>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>

</head>
<body>
    <div th:replace="fragments/header::header"></div>
    <div class="top-home">
        <span><a href="/">home</a></span>
    </div>
    <div class="top-login">
        <span><a href="/members" sec:authorize="isAnonymous()">sign up</a></span>
        <span><a href="/members/login" sec:authorize="isAnonymous()">sign in</a></span>
        <span><a href="/members" sec:authorize="isAuthenticated()">setting</a></span>
        <span><a href="/logout" sec:authorize="isAuthenticated()">logout</a></span>
    </div>
    <div layout:fragment="content" class="content">

    </div>

    <div th:replace="fragments/footer::footer"></div>
</body>
</html>